* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.macs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.macs-title {
    font-size: 40px;
    padding: 0px 70px 20px 70px;
    text-align: center;
    font-weight: 400;
}

.macs-title-person {
    font-size: 30px;
    font-weight: 400;
    opacity: 0.8;
}

.hr-mac {
    width: 100%;
    margin-top: 176px;
    opacity: 0.3;
}

.macs-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width:570px) {
    .macs-title {
        font-size: 25px;
        padding: 0px 30px 20px 30px;
    }
    .hr-mac {
        margin-top: 80px;
    }
}